.item-block{
      display:inline-block;
      width: 30%;
      background-color: palevioletred;
      margin-left: 15px;
      padding-left: 7px;
      padding-right: 7px;
      padding-bottom: 15px;
      margin-bottom:5px;
      border: 3px dashed black;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size:small;
}

.item-block-cont{
    width: 1000px;
}
/*footer*/
.footer-clean {
  background-color:#F93248;
  color: white;
}

.container {
    padding-top: 10%;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.0;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul p {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean .item.social {
  text-align:right;
}

/*@media (max-width:767px) {*/
/*  .footer-clean .item {*/
/*    text-align:center;*/
/*    padding-bottom:20px;*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .footer-clean .item.social {*/
/*    text-align:center;*/
/*  }*/
/*}*/

.footer-clean .item.social > image {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.bidding {
    text-align: center;
}

.amount {
    display: inline-block;
    border: 1px black;
}

#notif-icon{
    width: 30px;
    display: inline-block;
    padding-top: 5px;
    /*margin-left: 15px;*/
}

#notif-total{
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    position: relative;
    left: -6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img#logo {
    width: 40px;
    height: 40px;
    /*padding: 10px;*/
}

.navbar-brand{
    padding: 10px;
}

.searchbar{
    padding-top: 180px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 150px;
    background-color: #F93248;
}
div.container-fluid{
    padding-right: 50px;
    padding-left: 50px;
}

body {
    background-color: #F93248;
}

.navbar-default .navbar-nav>li>a{
    color: #F93248;
}