.item-block {
    display: inline-block;
    width: 23%;
    height: 425px;
    border-bottom: 2px white solid;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 15px;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    vertical-align: top;
    border-radius: 40px;
    position: relative;
}
.item-block::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.item-block:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.item-block::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: white;
  z-index: -1;
  transition: transform .3s ease;
    border-radius: 40px;
}

.profile-block{
    display:inline-block;
    width: 75%;
    height: 80%;
    background-color: white;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -2px;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    margin-bottom:-5px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:small;
}
.bio-block{
    width: 45%;
    float: left;
    display:inline-block;
    height: 80%;
    padding-right: 20px;

}
.info-block{
    width: 35%;
    height: 450px;
    float: right;
    display:inline-block;
    background-color: #F93248;
    font-size: medium;
    color: white;
    font-weight: bolder;


}
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
    display:inline-block;
  vertical-align:middle;

}
.profile-pic img{
  width:100%;
}
.item_img {
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.item_img img{
    width:100%;
}

.items{
    padding-right: 8%;
    padding-left: 8%;
    text-align: center;
}

#item-diviant{
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #F93248;
    background-color: white;
    border-radius: 50px;
}


#item-diviant>h4{
    font-weight: bold;
}

#item-diviant:hover{

}

/*footer*/
.footer-clean {
  background-color:#F93248;
  color: white;
}

.container {
    padding-top: 10%;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.0;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul p {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean .item.social {
  text-align:right;
}

.footer-clean .item.social > image {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.bidding {
    text-align: center;


}
.register {
    text-align: center;
    padding-bottom: 20px;



}
.amount {
    display: inline-block;
    border: 1px black;
}

#notif-icon{
    width: 30px;
    display: inline-block;
    padding-top: 5px;
    color: #F93248;
}

#notif-total{
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    position: relative;
    left: -6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img#logo {
    width: 40px;
    height: 40px;
    /*padding: 10px;*/
}

.navbar-brand{
    padding: 10px;
}

.searchbar{
    padding-top: 180px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 150px;
    background-color: #F93248;
}
div.container-fluid{
    padding-right: 50px;
    padding-left: 50px;
}

body {
    display: grid;
    background-color: #F93248;
}

.navbar-default .navbar-nav>li>a{
    color: #F93248;
    font-size: larger;
    font-weight: 800;
    padding-top: 23px;
}

.form-control{
    height: 55px;
    border-radius: 25px;
    font-size: x-large;
}

.dropdown-menu>li>a{
    font-weight: bold;
    padding: 20px;
}

.form-horizontal{
    width: 600px;
    display: block;
    margin : 0 auto;
    padding-bottom: 20px;
}
.btn-primary{
    width: 100px;
    display: block;
    margin : 0 auto
}
