{% extends 'Base.html' %}
{% block content %}
<div class="bidding">
<div class="review-block">
    <img class="item_img" src="{{ item.image }}"/>
    <h1>{{ item.name }}</h1>
    <p>Full name: {{ contact_info.name }}</p>
    <p>Street name: {{ contact_info.street_name }}</p>
    <p>City: {{ contact_info.city }}</p>
    <p>Zip: {{ contact_info.zip }}</p>
    <p>Country: {{ contact_info.country }}</p>
    <p>Cardholder Name: {{ payment_info.cardholder_name }}</p>
    <p>Card Number: {{ payment_info.card_number }}</p>
    <p>Expiration Date: {{ payment_info.exp_date }}</p>
    <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
    <a href="{% url 'delete_item' item.id %}"><button>Confirm Purchase</button></a>
</div>
</div>


{% endblock %}
