{% extends "Base.html" %}
{% block content %}
<div class="item-detail-cont">
    <img id="item-detail-img" src="{{ item.image }}"/>
    <h1 id="item-detail-name">{{ item.name }}</h1>
    <p id="item-detail-desc">{{ item.description }}</p>
    <p>{{ item.condition }}</p>
    <p>${{ item.price }}</p>
    <p>Highest bid: {{ Highest_bid }}</p>
    <p>Owner:  {{ item.owner.name }}</p>
    {% if user.is_authenticated and user.id == item.owner_id %}
    <a href="{% url 'delete_item' item.id%}" class="block btn-btn primary">Delete Item</a>
    <a href="{% url 'update_item' item.id%}" class="block btn-btn primary">Update Item</a>
    {% elif user.is_authenticated %}
        <a href="{% url 'bid' item.id%}" class="block btn-btn primary"><button>Place Bid</button></a>
    {% endif %}
    <div class="similar-items">
        <h1>Similar Items</h1>
        {% for item in similar_items %}
            {% include 'Item/single_item.html' with item=item %}
        {% endfor %}
    </div>
</div>
{% endblock %}