{% extends "Base.html" %}
{% block content %}
<div class="bidding">
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.condition }}</p>
    <p>${{ item.price }}</p>
    <p>Owner:  {{ item.owner.name }}</p>
    <a href="{% url 'delete_item' item.id%}" class="block btn-btn primary">Delete Item</a>
    <a href="{% url 'update_item' item.id%}" class="block btn-btn primary">Update Item</a>
    <a href="{% url 'bid' item.id%}" class="block btn-btn primary">Place Bid</a>
</div>
<div class="items">
    <h1>Similar Items</h1>
    {% for item in similar_items %}
        {% include 'Item/single_item.html' with item=item %}
    {% endfor %}
</div>
{% endblock %}