<div class="item-block">
    <p>Item: {{ item_offer.item }}</p>
    <p>Price: {{ item_offer.item_price }}</p>
    {% for item in items %}
        {% if item.id == item_offer.item_id %}
            <p>Owner: {{ item.owner }}</p>
        {% endif %}
    {% endfor %}
    {% for item in items %}
        {% if item.id == item_offer.item_id %}
            {% if item_offer.accepted == True %}
                <a href="{% url 'step_one' item.id%}">Go to checkout</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    <a href="{% url 'delete_bid' item_offer.id%}">Cancel Bid</a>
</div>