{% extends "Base.html" %}
{% block content %}
<div class="bidding">
<div class="profile-block">
    <div Class="bio-block">
            <img class="profile-pic" src="{{ user1.profile_image }}"/>
        <p></p>
        <h1>Bio</h1>
        <p>{{ user1.bio }}</p>
    </div>
    <div Class="info-block">
    <h1>My account</h1>
    <p>{{ user1.name }}<p>
    <p>Email: {{ user1.email }}</p>
    <p>Phone Number: {{ user1.phone_number }}</p>
    <p>Street Name: {{ user1.street_name }}</p>
    <p>City: {{ user1.city }}</p>
    <p>Country: {{ user1.country }}</p>
    <a href="{% url 'update_profile' %}">Update Profile</a>
    </div>
</div>
</div>
</div>

{% endblock %}